<!DOCTYPE html>
<html>
  <head>
    <title>StackOverTroubledWater</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript">
        window.logoURL = "<%= image_url('so-icon.svg') %>"
    </script>

    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag image_path('favicon-32x32.png') %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
